#header-nav {
    background-color: #999999;
    border-radius: 0;
    border: 0;    
    border: solid black 2px;
    margin-bottom: 0;
}

#menu-title{
    margin-top: 50px ;
}
.navbar-brand a:hover, .navbar-brand a:focus{
   text-decoration: none;
}
.navbar-brand{
    padding-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    color: black;
}
.navbar-brand h1{
    color: black;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

#nav-list a {
    text-align: center;
    color: black;
    font-weight: 80;
    background-color: #AAA5A5;
}

#nav-list {
    margin-top: 10px;
}

#nav-list a:hover {
    background-color: lightyellow;   
}

.text-center {
    position: relative;
    margin-top: 20px;
    color: black;
}

#collapsable-nav{
    font-size: 1.5em;
}

.navbar-default .navbar-collapse{
    margin-top: 0px;
    border: 0px;
}

#food{
    position: relative;
    margin: 20px;
    background-color: #AAA5A5;

